<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	  <div class="pg-footer">
        <footer class="footer">
          <svg class="footer-wave-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 100" preserveAspectRatio="none">
            <path class="footer-wave-path" d="M851.8,100c125,0,288.3-45,348.2-64V0H0v44c3.7-1,7.3-1.9,11-2.9C80.7,22,151.7,10.8,223.5,6.3C276.7,2.9,330,4,383,9.8 c52.2,5.7,103.3,16.2,153.4,32.8C623.9,71.3,726.8,100,851.8,100z"></path>
          </svg>
          <div class="footer-content">
            <div class="footer-content-column">
              <div class="footer-logo">
                <h1>CalendrierHub</h1>
              </div>
              <div class="footer-menu">
                <h2 class="footer-menu-name"> Contact</h2>
                <ul id="menu-get-started" class="footer-menu-list">
                  <li>
                    <i class="fa-solid fa-phone"></i>
                    <p class="info">06 20 21 22 23</p>
                  </li>
                  <li>
                    <i class="fa-solid fa-envelope"></i>
                    <p class="info">jourdeplus@gmail.com</p>
                  </li>
                  <li>
                    <i class="fa-solid fa-location-dot"></i>
                    <p class="info">Parkway Gardens</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="footer-content-column">
              <div class="footer-menu">
                <a class="footer-menu-name" href="#">Qui sommes-nous</a>
                <a class="footer-menu-name" href="#">Qui sommes-nous pas</a>
                <a class="footer-menu-name" href="#">Qui nous seront</a>
              </div>
            </div>
            <div class="footer-content-column">
              <div class="footer-call-to-action">
                <h2 class="footer-call-to-action-title"> Une demande ?</h2>
                <p class="footer-call-to-action-description"> Envoyez-nous votre projet</p>
              </div>
            </div>
            <div class="footer-content-column">
            <div class="footer-menu">
              <h2 class="footer-menu-name"> Social</h2>
              <ul class="social">
              	<a href="#" class="social"><i class="fab fa-facebook-f"></i></a> 
			    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
              </ul>
            </div>
          </div>
          </div>
          <div class="footer-copyright">
            <div class="footer-copyright-wrapper">
              <p class="footer-copyright-text">
                <a class="footer-copyright-link" href="#" target="_self"> ©2023. | Ibra Riyad Killian | Tous droits réservés | Mentions Légales </a>
              </p>
            </div>
          </div>
        </footer>
      </div>

	<script type="text/javascript" th:src="@{/script/index.js}"></script>
</body>
</html>
</body>
</html>