/*----NAVBAR----*/
nav{
	display: flex;
	justify-content: center;
}

.nav-container { 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 600px;
  text-align: center;
}

.nav-container li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}

.link-menu {
  color: #FF416C;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  font-weight: bold;
}

.link-menu:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #FF416C;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.link-menu:hover:after { 
  width: 100%; 
  left: 0; 
}

@media screen and (max-height: 300px) {
	.nav-container {
		margin-top: 40px;
	}
}


h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
	font-size: 2rem;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
}

.btn-co{
    border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 550px;
}

.container-forms{
    display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}


/*=======FOOTER=======*/
.pg-footer a {
    color: var(--White);
    margin-bottom: 1rem;
}

.footer {
    background-color: var(--Black);
    color: #fff;
}

.footer-wave-svg {
    background-color: transparent;
    display: block;
    height: 30px;
    position: relative;
    top: -1px;
    width: 100%;
}

.footer-wave-path {
    fill: var(--Background-color); 
}

.footer-logo h1{
	color: #FF416C;
	font-style: italic;
}

.footer-content {
	width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-content-column {
    box-sizing: border-box;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    color: #fff;
}

.footer-content-column ul li p {
    font-size: 1.4rem;
    color: #fff;
}

.info{
	margin: 5px 0 0 10px;
}

.footer-logo-link {
    display: inline-block;
}

.footer-menu {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.footer-menu-list {
    list-style: none;
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 0;
}

.footer-menu-list li {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.footer-menu-list li img {
    margin-right: 10px;
}

.footer-call-to-action-description {
    color: #fffff2;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.button:last-of-type {
    margin-right: 0;
}

.footer-call-to-action-button {
    background-color: var(--Orange);
    border-radius: 21px;
    color: #fffff2;
    display: inline-block;
    font-size: 11px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    padding: 12px 30px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    cursor: pointer;
    position: relative;
}

.footer-call-to-action {
    margin-top: 30px;
}

.footer-call-to-action-title {
    color: #fffff2;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: uppercase;
}

.footer-call-to-action-link-wrapper {
    margin-bottom: 0;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
}

.footer-call-to-action-link-wrapper a {
    color: #fff;
    text-decoration: none;
}

.social {
    display: flex;
    margin-top: 1rem;
}

.social a {
    margin-right: 1rem;
}

.social img {
    width: 2rem;
}

.footer-copyright {
    background-color: var(--Orange);
    color: #fff;
    padding: 15px 30px;
    text-align: center;
}

.footer-copyright-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.footer-copyright-text {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-copyright-link {
    color: #fff;
    text-decoration: none;
}

@media (min-width:320px) and (max-width:479px) {

    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 600px;
        position: relative;
    }
}

@media (min-width:480px) and (max-width:599px) {

    /* smartphones, Android phones, landscape iPhone */
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 600px;
        position: relative;
    }
}

@media (min-width:600px) and (max-width: 800px) {

    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 600px;
        position: relative;
    }
}


















       .custom-dropdown {
            position: relative;
            display: inline-block;
        }

/*        .custom-dropdown select {*/
/*            display: none;*/
            
/*        }*/

        .custom-dropdown-label {
            padding: 10px;
            border: 1px solid #ccc;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .custom-dropdown-label:hover {
            background-color: #f0f0f0;
        }

        .custom-dropdown-options {
            position: absolute;
            top: 100%;
            left: 0;
            display: none;
            border: 1px solid #ccc;
            background-color: white;
            max-height: 150px;
            overflow-y: auto;
            z-index: 1;
        }

/*        .custom-dropdown.open .custom-dropdown-options {*/
/*            display: block;*/
/*        }*/

        .custom-dropdown-option {
            padding: 10px;
            transition: background-color 0.3s;
        }

        .custom-dropdown-option:hover {
            background-color: #f0f0f0;
        }
        
        
        
         #theme {
			 width: 100%;
            background: #eee;
              outline: none;
              border: none;
              padding: 1.2rem 3.2rem;
        }
        
        #theme:hover {
            cursor: pointer;
        }
        
        
        .user_reaction {
			border-bottom: solid black;
			border-top: solid black;
			border-radius: 10px 0px 10px 0px;
			display: flex;
			justify-content: space-around;
			align-items: center;
			width: 50%;
			margin: 2rem auto;
			flex-wrap: wrap;
			padding: 1rem 0;
		}
		
		.user_reaction ul {
			font-size: 1.5rem;
		}
        
        .container_nb_inscrit {
			width: 30vw;
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;
			height: 30vh;
		}
		
		.nb_inscrit {
			font-size: 1.3rem;
			margin: 0 2rem;
			border-bottom: solid 1px;
		}
		
		.container_info {
			 border-radius: 20px;
	border: 1px solid #FF4B2B;
	  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
			padding: 2rem;
		
	
		}
		
		.total_nb_inscrit {
			text-align: center;
			font-size: 1.5rem;
			font-weight: bolder;
			color: #FF4B2B;
		}
		
		.h2-form{
			font-size: 25px;
		}